*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}
.contacthead{
    background-image: url('images/hands.jpg');
    /* background-image:linear-gradient(rba(0,0,0,0.5)rgba(27, 26, 26, 0.5)), url(logo.png); */
    height: 750px;
    background-size: cover;
    background-position: center;
    
    /* min-height: 100px; */
}
ul{
    float:right ;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 100px;
    font-size: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid  transparent;
    transition: 0.5 ease;
}
ul li a:hover{
    background-color: #fff;
    color: black;
}
ul li.acttive{
    background-color: #fff;
    color: black;
}
.logo img{
    float:left;
margin-left: 50px;
margin-top:-25px;
    width: 128px;
    height: 130px;
    /* opacity: %; */
 }
 
 .titlecontact{
    position:absolute;
    top: 35%;
    left: 19%;
    transform: translate(-50%,-50%);
 }
 .titlecontact h1{
    color:white;
    font-size: 40px;
    font-weight: 200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0;
    animation: fadeInSlide 3s ease-out forwards; /* Slide up and fade in */
}
/* Keyframes for animations */
@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }


 }
 .title2contact{
    position:absolute;
    top: 48%;
    left: 38%;
    transform: translate(-50%,-50%);
 }
 .title2contact h2{
    color: white;
    font-size: 86px;
    font-weight: 700;
    letter-spacing: -.050em;
 }
 .cntct{
    display: grid;
    grid-template-columns: 50% 50%;

 }
 .map{
    margin-left: 100px;
 }
 .map img{
    border-radius: 10px;
 }
 .msg{
    /* border: 2px solid black; */
    height: 500px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }
 .msg h2{
    color: rgb(49, 16, 218);
    margin-top: 20px;
    margin-left: 20px;
 }
 .msg h5{
    color: rgb(63, 63, 65);
    margin-top: 10px;
    margin-left: 20px;
 }
 .msg button{
height: 40px;
width: 150px;
color: rgb(83, 83, 1);
border-radius: 50px;
margin-left: 200px;
margin-top: 15px;
 }
 .msg button:hover{
    height: 45px;
    width: 155px;
    color: rgb(9, 9, 9);
    background-color: yellow;
    border-radius: 50px;
    margin-left: 200px;
    margin-top: 15px;
     }
 .txt{
border-radius: 50px;
    height: 40px;
    width: 190px;
    margin-top: 40px;
    margin-left: 50px;
    color: rgb(2, 2, 7);
    border: 2px solid rgb(91, 91, 91);
 }
 .txt1{
    border-radius: 50px;
        height: 40px;
        width: 190px;
        margin-top: 50px;
        margin-left: 50px;
        border: 2px solid rgb(93, 92, 92);
     }
     .txt2{
        border-radius: 50px;
            height: 40px;
            width: 190px;
            margin-top: 50px;
            margin-left: 50px;
            border: 2px solid rgb(90, 88, 88);
         }
         .txt3{
            border-radius: 50px;
                height: 40px;
                width: 190px;
                margin-top: 50px;
                margin-left: 50px;
                border: 2px solid rgb(90, 88, 88);
             }
             .txt4{
                
                height: 110px;
                width: 450px;
                margin-top: 50px;
                margin-left: 50px;
                border: 2px solid rgb(90, 88, 88);
             }
 .container8{
    /* border: 2px solid black; */
    margin-top: 200px;
    height: 500px;
    width: 100%;
   
    display: flex;
    background-color: rgb(46, 44, 44);
}
.leftlogo{
    /* border: 2px solid white; */
    width: 40%;
    height: 500px;
}
.contact{
    /* border: 2px solid white; */
    margin-top: 50px;
    width: 30%;
    height: 500px;
    color: white;
    text-align: center;
    opacity: 60%;
}
.oursupport{
    /* border: 2px solid white; */
    margin-top: 50px;
    width: 30%;
    height: 500px;
    color: white;
    text-align: center;
    opacity: 60%;
}
 .lastlogo img{
    border-radius: 50%;
    opacity: 80%;
    margin-left: 20%;
    margin-top: 50px;
 }
.ap img{
    border-radius: 70%;
    margin-left: 100px;
    opacity: 50%;
    margin-top: 20px;
}
.container9{
    /* border: 2px solid black; */
    height: 150px;
    width: 100%;
    background-color: rgb(28, 28, 59);
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    }
    .rights{
        margin-top: 30px;
        opacity: 50%;
        margin-left: 20%;
    }
    .Policy{
        margin-top: 30px;
        opacity: 50%;
        margin-right: 10%;
    }
    .contact1{
        width: 100%;
        height: 700px;
        /* border: 2px solid black; */
        
    }
    .onecnct{
        /* border: 2px solid black; */
        width: fit-content;
        height: fit-content;
        color: blue;
        font-size: larger;
        margin-left: 45%;
        margin-top: 50px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .Location{
        border-radius: 30px;
        height: 150px;
        width: 70%;
        /* border: 2px solid black; */
        margin-left: 250px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .Location>img{
        border-radius: 50%;
        margin-top: 10px;
      
    }
    .Location>h5{
        margin-top: 70px;
        margin-left: 20px;
        font-size: larger;
    }
    .Phone{
        border-radius: 30px;
        height: 150px;
        width: 70%;
        /* border: 2px solid black; */
        margin-left:250px ;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .Phone>img{
        border-radius: 70%;
        margin-top: 30px;
    }
    .Phone>h5{
        margin-top: 70px;
        margin-left: 20px;
        font-size: larger;
    }
    .email{
        border-radius: 30px;
        height: 150px;
        width: 70%;
        /* border: 2px solid black; */
        margin-left: 250px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .email>img{
        border-radius: 70%;
        margin-top: 30px;
    }
    .email>h5{
        margin-top: 70px;
        margin-left: 20px;
        font-size: larger;
    }
    